.card {
  max-width: 600px;
  margin: 0.7rem auto;
  padding: 1rem;
  border: #ccc 1px dotted;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__author {
    text-align: right;
    font-style: italic;
  }
}
